<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Watch List</title>
</head>
<body>
    <nav>
        search
        <a href="/index">Main Page</a>
    </nav>
    <h1>My Watch List</h1>
   <ul>
        <% user.watchlist.forEach(function(watch, idx) { %>
            <li>
              <% if (user._id.equals(user && user._id)) { %>
                  <form action="/watchlist/<%= idx %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                  </form>
              <% } %>
              <%- watch.title %>
            </li>
          <% }) %>
        </ul>
        <!-- Add Dynamic UI form below this line -->
        <% if (user._id.equals(user && user._id)) { %>
          <div class="card-action">
            <form action="/watchlist" method="POST">
              <input type="text" name="title">
              <button type="submit">Add Anime</button>
            </form>
          </div>
        <% } %>
</body>
</html>