<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Profile</title>
</head>
<body>
    <nav>
        <a href="/index">Main Page</a>
        <a href="/animes/index">Anime</a>
    </nav>
    <h1>My Details</h1>
    <div id="profile">
        <% if (user.avatar) { %>
            <img src="<%= user.avatar %>" id=avatar>
        <% } %>
        <div>
            <%= user.name %><br>
            <%= user.email %>
        </div>
    </div>
    <div class="center">
        <a href="/watchlist">Anime Watch List</a>
    </div>
    
</body>
</html>