<!DOCTYPE html>
<html>
<head>
  <title>Otaku Saga</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <div>
      <% if (user) { %>
        <a href="profile/show">My Profile</a>
        <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google">Login with Google</a>
          <% } %>
    </div>
    <a href="animes/index">Anime</a>
  </nav>
  <h1>Otaku Saga</h1>
</body>
</html>