<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Chicle&display=swap" rel="stylesheet">
  <title>Otaku Saga</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body id="main">
  <nav>
    <div class="nav">
      <% if (user) { %>
        <a href="profile/show" class="nav">My Profile</a>
        <a href="/logout" class="nav">Log Out</a>
        <% } else { %>
          <a href="/auth/google" class="nav">Login with Google</a>
      <% } %>
    </div>
    <a href="animes/index" class="nav">Anime</a>
  </nav>
  <h1>Otaku Saga</h1>
</body>
</html>