body {
  color: #62411F;
  margin: 0px;
  background-color: #fcf9f9;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #62411F;
}

nav {
  display: flex; 
  padding: 20px;
  background-color: #E9FBFF;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.nav{
  padding: 15px;
  text-decoration: none;
}
a:hover{
  font-size: 130%;
}
input.nav{
  width: 150%;
  outline: none;
  border: none;
  border-radius: 6%;
}

#anime {
  border-radius: 50%;
  padding: 30px 20px;
  list-style: none;
  background-color: #f3dcfd;
  margin-bottom: 20px;
}

#dropUl {
  background: #E9FBFF;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
#dropLi {
  color: #62411F;
  background: #E9FBFF;
  display: block;
  padding: 1rem;
  float: left;
  position: relative;
  text-decoration: none;
}
li input {
  color: #62411F;
  border: none;
  background: #E9FBFF;
  outline: none;
  background-color: transparent;
  font-size: 15px;
}
#dropLi:hover{
  font-size: 130%;
  background: #FEEBF1;
}
#dropUl #dropLi #dropUl {
  background: #E9FBFF;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
}
#dropUl #dropLi:hover > #dropUl,
#dropUl #dropLi #dropUl:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
#dropUl #dropLi #dropUl #dropLi {
  clear: both;
  width: 80%;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Chicle', cursive;
}

#profile {
  padding: 40px;
  display: flex; 
  justify-content: center;
}
#profile div{
  padding: 30px 0px 0px 15px;
}
#avatar {
  width: 100px;
  border-radius: 50%;
}

.center {
  display: flex; 
  justify-content: space-evenly;
}

#animeIndex {
  padding-right: 15%;
  padding-left: 15%;
}
#animeDisplay {
  display: flex;
  justify-content: space-between;
}

#newForm {
  padding-bottom: 20px;
}
#newForm > input {
  padding: 10px;
  font-size: 16px;
}
.inputLabel h3, 
.inputLabel p {
  display: inline;
}
#newForm > input[type=submit],
button[type=submit] {
  color: white;
  background-color: #62411F;
  border-radius: 20%;
  padding: 15px 30px;
  border: none;
}
#newForm > input[type=submit]:hover,
button[type=submit]:hover,
#editBtn {
  font-size: 150%;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}

button > a {
  color: white;
  text-decoration: none;
}

