body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex; 
  flex-direction: row-reverse;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

#profile {
  padding: 40px;
  display: flex; 
  justify-content: center;
}
#profile div{
  padding: 30px 0px 0px 15px;
}
#avatar {
  width: 100px;
  border-radius: 50%;
}

.center {
  display: flex; 
  justify-content: space-evenly;
}