<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Browse Anime</title>
</head>
<body>
    <nav>
        <div>
            <a href="/index">Main Page</a>
            <% if (user) { %>
                <a href="/profile/show">My Profile</a>
                <% } else { %>
                  <a href="/auth/google">Login with Google</a>
            <% } %>
        </div>
        <form action="/animes" method="GET">
            <input type="search" name="anime" placeholder="Search Anime" autocomplete="off">
        </form>
    </nav>
    <h1>Anime</h1>
    <% if (animes.length) { %>
        <% animes.forEach(function(anime, idx) { %>
            <li>
                <a href="/animes/<%= anime.id %>"><%= anime.title %></a>
                <% if (user) { %>
                    <form action="/animes/<%= anime.id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                    <form action="/watchlist" method="POST">
                        <button type="submit" name="id" value="<%= anime._id %>">Add to Watchlist</button>
                    </form>
                <% } %>
            </li>
        <% }) %>
    <% } else { %>
    <p>No Anime found</p>
    <a href="/animes/new">Add Anime Here</a>
    <a href="/animes/index">Back to All Animes</a>
    <% } %>
</body>
</html>