<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <h1>Anime</h1>
    <% animes.forEach(function(anime, idx) { %>
        <li>
            <%= anime.title %>
            <% if (user) { %>
                <form action="/animes/<%= anime.id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
                <form action="/watchlist" method="POST">
                    <button type="submit" name="id" value="<%= anime._id %>">Add to Watchlist</button>
                </form>
              <% } %>
        </li>
    <% }) %>
    <form action="/animes" method="POST">
            <input type="text" name="title">
            <button type="submit">Add Anime</button>
          </form>
        </div>
</body>
</html>